.logo-container {
	/* margin: 2rem; */
	margin-top: 0px;
	justify-content: center;
	/* horizontal centering */
	align-items: center;
	/* vertical centering */
	/* full viewport height */
	position: relative;
	top: 50px;
	/* Moves the element 50px down from its normal position */
}

.tilt-component {
	/* margin-left: -200px; */
	margin-left: 500px;
	margin-top: -50px;
	/* to move / adjust the logo */
	height: 100px;
	width: 100px;
	background: linear-gradient(100deg, #6495ED 0%, #00008B 100%);
	border-radius: 0.25rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tilt-inner {
	padding: 0.5rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image {
	max-width: 90%;
	max-height: 90%;
	/* padding-top: 3px; */
	margin-bottom: 14px;
}