.face-recognition-container {
	display: flex;
	justify-content: center;
}

.image-container {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 100px;
	display: inline-block;
	/* Add this line */
	border: 3px solid transparent;
	/* Initially no border (transparent) */
}

/* To adjust input image size. Adjust width and height as necessary */
.input-image {
	width: 350px;
	height: auto;
	/* display: block; */
	/* Add this line */
	margin-bottom: -5px;
	/* To fix the thin opening inside the image box. Not sure what is causing it */

	/* To remove */
	/* width: 70%; */
	/* Takes up 100% of parent container width */
	/* max-width: 100%; */
	/* Prevents image from exceeding its natural size */
	/* height: auto; */
	/* Maintains aspect ratio */
}

/* This is to make a box on a face in the picture */
.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	/* width: 50% */
	/* test attempt */
}

/* WIDTH */
/* For screens 850px and below */
@media (max-width: 850px) {

	.input-image {
		width: 65%;
	}

}

/* For screens 600px and below */
@media (max-width: 600px) {

	.input-image {
		width: 60%;
	}

}

/* For screens 600px and below */
@media (max-width: 400x) {

	.input-image {
		width: 50%;
	}

}



/* Old usable version */
/* .bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	top: var(top);
	right: var(right);
	bottom: var(bottom);
	left: var(left);
} */